mtl_MIB/Web References/WS_Admin_ForMIB/WS_Admin_ForMIB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <xsd:element name="GetClientByNameAndPIDForMIB2">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_admin_username" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_admin_password" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_operator_username" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_operator_password" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_first_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_last_name" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_pid_number" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetClientByNameAndPIDForMIB2_Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_result" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="fld_session_id" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="GetClientByNameAndPIDForMIB2Input">
    <part name="parameters" element="tns:GetClientByNameAndPIDForMIB2" />
  </message>
  <message name="GetClientByNameAndPIDForMIB2Output">
    <part name="parameters" element="tns:GetClientByNameAndPIDForMIB2_Response" />
  </message>
  <portType name="WS_Admin_ForMIBPortType">
    <operation name="GetClientByNameAndPIDForMIB2">
      <input message="tns:GetClientByNameAndPIDForMIB2Input" />
      <output message="tns:GetClientByNameAndPIDForMIB2Output" />
    </operation>
  </portType>
  <binding name="WS_Admin_ForMIBSoapBinding" type="tns:WS_Admin_ForMIBPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetClientByNameAndPIDForMIB2">
      <soap:operation soapAction="http://tempuri.org/GetClientByNameAndPIDForMIB2" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WS_Admin_ForMIBService">
    <documentation>
    </documentation>
    <port name="WS_Admin_ForMIBPort" binding="tns:WS_Admin_ForMIBSoapBinding">
      <soap:address location="http://10.1.0.24:2380/applinx/wrapped-service/WS_Admin_DEV/WS_Admin_ForMIB" />
    </port>
  </service>
</definitions>